<app-navbar></app-navbar>
<br><br>
<div style="display: flex;justify-content: space-evenly;">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Schedule Meeting</mat-card-title>
        </mat-card-header>
        <img mat-card-image width="350px" height="350px" src="assets/docapp.jpg" alt="Schedule meeting">
        <mat-card-content>
            <p>
              From here You can check for the meetings
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button routerLink="/meetlist" class="btn btn-primary">Schedule Meeting</button>
          </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Demand Medicine</mat-card-title>
        </mat-card-header>
        <img mat-card-image width="400px" height="350px" src="assets/Medicines.jpg" alt="Demand Medicine">
        <mat-card-content>
            <p>
              Demand medicine
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button routerLink="/demand" class="btn btn-primary">Demand Medicine</button>
          </mat-card-actions>
    </mat-card>
</div>