<!-- Section: Design Block -->
<div style="width: 75%;margin: auto;margin-top: 5%;">
    <section class=" text-center text-lg-start">
        <div class="card mb-3">
          <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-4 d-none d-lg-flex">
              <img src="assets/pharmacy.jpg" alt="Trendy Pants and Shoes"
                class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
            </div>
            <div class="col-lg-8">
              <div class="card-body py-5 px-md-5">
      
                <form>
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input [(ngModel)]="user1.Email" type="email" id="form2Example1" class="form-control" [ngModelOptions]="{standalone: true}" />
                    <label class="form-label" for="form2Example1">Email address</label>
                  </div>
      
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input [(ngModel)]="user1.Password" type="password" id="form2Example2" class="form-control" [ngModelOptions]="{standalone: true}" />
                    <label class="form-label" for="form2Example2">Password</label>
                  </div>
      
                  <!-- Submit button -->
                  <button (click)="LoginUser()" type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
      
                </form>
      
              </div>
            </div>
          </div>
        </div>
      </section>
</div>

  <!-- Section: Design Block -->



<!-- <form>
    <h1>Login</h1>
    <div class="input">
        <label>Username</label>
        <input type="text" name="user" [(ngModel)] ="user">
    </div>
    <div class="input">
        <label>Password</label>
        <input type="password" name="password" [(ngModel)] ="password">
    </div>
    <div class="input">
        <input type="submit" value="login" (click)="LoginUser()">
    </div>
</form> -->